<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zenon.probe-nexus</string>
    <key>ProgramArguments</key>
    <array>
        <string>NODE_BIN</string>
        <string>PROBE_JS</string>
        <string>nexus</string>
        <string>--wallet</string>
        <string>GITHUB_USER</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>HOME_DIR</string>
        <key>PATH</key>
        <string>NODE_DIR:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>HOME_DIR</string>
</dict>
</plist>
